.item-details {
    background-color: rgb(31, 30, 30);
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgba(128, 128, 128, 0.4);
}

.item-details img {
    border-radius: 5px;
    max-width: 215px;
    max-height: 100%;
}

.item-details ul li{
    background-color: rgb(31, 30, 30);
    border-bottom: 1px solid grey;
    padding: 0.5rem;
}
.term { 
    margin-right: 5px;
}