.header{
    align-items: center;
    background-color: rgb(31, 30, 30);
    border-radius: 6px;
    padding: 15px;
    border: 1px solid rgba(128, 128, 128, 0.4);
}
.header h1 {
    margin: 1rem;
}
.header ul {
    margin-top: 1rem;
}
.header ul li{
    padding: 0.25rem 0.5rem;
    list-style: none;
    display: flex;
    align-items: center;
    background-color: white;
    border-radius: 3px;
    margin: 0 10px 0 0;
    transition: all ease 300ms;
}
.header ul li:last-child{
    margin: 0;
}
.header ul li:hover{
    cursor: pointer;
    background-color: rgb(160, 160, 160);
}
.header a{
    text-decoration: none;
    color: gray;
    transition: all ease 300ms;
}
.header h1 a{
    color: white;
}
.header ul li:hover a{
    color: white;
}